@font-face {
  font-family: "DellReplicaLight";
  src: url("DellReplica-Light.otf");
}

* {
  margin: 0;
  padding: 0;
  position: absolute;
}

img {
  border: 0;
}

p, div, span {
  font-family: DellReplicaLight, Helvetica, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.banner {
  width: 100%;
  height: 600px;
  z-index: 1;
}

#main_wrapper {
  width: 160px;
  height: 600px;
  top: 0px;
  left: 0px;
  border: #aaa 1px solid;
  background: #eee;
  box-sizing: border-box;
  overflow: hidden;
}

#slideshow-container {
  width: 160px;
  height: 600px;
  position: relative;
}

.slide {
  position: absolute;
  left: 160px;
  width: 160px;
  height: 600px;
  top: 0px;
  background-color: #eee;
  cursor: pointer;
}

.intro_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 600px;
  background-color: #eee;
}

.intro_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 264px;
  font-family: DellReplicaLight, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: .5px;
  color: #ffffff;
  text-align: center;
  width: 160px;
  height: 88px;
  padding: 0 5px 0 5px;
  border: 0px solid red;
}

.intro_icon {
  display: block;
  width: 160px;
  top: 125px;
  border: 0px solid red;
}

.intro_icon_img {
  left: 50%;
  transform: translateX(-50%);
  border: 0px solid yellow;
}

.intro_cta {
  position: absolute;
  top: 570px;
  left: 30px;
  width: 98px;
  height: 25px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #000000;
  text-align: center;
  padding: 7px 0px;
  background: #3dc6ef;
  z-index: 1;
}

.asset_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 600px;
  background-color: #eee;
}

.asset_text {
  top: 355px;
  font-family: DellReplicaLight, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: .5px;
  color: #ffffff;
  text-align: center;
  width: 160px;
  height: 88px;
  padding: 0 5px 0 5px;
  border: 0px solid red;
}

.asset_icon {
  display: block;
  width: 160px;
  top: 125px;
  border: 0px solid red;
}

.asset_icon_img {
  left: 50%;
  transform: translateX(-50%);
  border: 0px solid yellow;
}

.asset_cta {
  position: absolute;
  top: 570px;
  left: 30px;
  width: 98px;
  height: 25px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #000000;
  text-align: center;
  padding: 7px 0px;
  background: #3dc6ef;
  z-index: 1;
}

/* global styles */

.dell_logo {
  display: block;
  position: absolute;
  width: 160px;
  left: 0px;
  top: -5px;
  border: 0px solid red;
}

.dell_logo_img {
  width: 153px;
  left: 50%;
  transform: translateX(-50%);
}

.mdf_logo {
  display: block;
  position: absolute;
  width: 160px;
  left: -6px;
  top: 51px;
  border: 0px solid blue;
}

.mdf_logo_img {
  width: 108px;
  left: 50%;
  transform: translateX(-50%);
}

.nuv_left {
  left: 2px;
}

.nuv_right {
  left: 131px;
}

.nuv_right, .nuv_left {
  position: absolute;
  top: 571px;
  cursor: pointer;
  z-index: 99;
  display: block;
  width: 27px;
  height: 25px;
}

.nuv_left img, .nuv_right img {
  width: 27px;
  height: 25px;
  opacity: 0.5;
}

.nuv_left:hover img, .nuv_right:hover img {
  opacity: 1;
}

/* end global styles */
